@model ByggemarkedLibrary.Model.Booking

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Booking";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <div>
        <h4>Detaljer</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayName("Status")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.State)
            </dd>

            <dt>
                @Html.DisplayName("Værktøj")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Tool.Name)
            </dd>

            <dt>
                @Html.DisplayName("Start dato")
            </dt>

            <dd>
                @Convert.ToString(string.Format("{0:dd/MM/yyy}", Model.StartDate))
            </dd>

            <dt>
                @Html.DisplayName("Slut dato")
            </dt>

            <dd>
                @Convert.ToString(string.Format("{0:dd/MM/yyy}", Model.EndDate))
            </dd>

            <dt>
                @Html.DisplayName("Pris")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Price)
            </dd>
        </dl>
    </div>
    <p>
        @Html.ActionLink("Tilbage til oversigt", "Index")
    </p>
</body>
</html>
